@page
@model TelemetryCar.Pages.TelemetryViews.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TelemetryModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelemetryModel.Car)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelemetryModel.Car.IdCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelemetryModel.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelemetryModel.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelemetryModel.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelemetryModel.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelemetryModel.Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelemetryModel.Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelemetryModel.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelemetryModel.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelemetryModel.Throttle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelemetryModel.Throttle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelemetryModel.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelemetryModel.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelemetryModel.ModifiedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelemetryModel.ModifiedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TelemetryModel.IdTel">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
