@page
@model TelemetrikCar.Pages.Telemetrik.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Telemetrik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.idCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.idCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.ModifiedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.ModifiedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Telemetrik.IdTel" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
