@page
@model TelemetrikCar.Pages.Telemetrik.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Telemetrik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.idCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.idCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.Speed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.Speed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemetrik.ModifiedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemetrik.ModifiedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Telemetrik.IdTel">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
